/* 
[== base styles: tag_core.css ==]


tag style for when the input is marked as required via the [required] attribute. 
a placeholder on the input is reccomended 

*/





.input-box :where(label:has(
    :is(
        input,
        select,
        textarea
    ):required:is(:not([placeholder]), :placeholder-shown)
) > span) {

    background: var(--tag-required-background, var(--tag-background));
    color: var(--tag-required-color, var(--tag-color, var(--global-label-color)));

    border-left: var(--tag-required-border-left, var(--tag-required-border, var(--tag-border-left, var(--tag-border))));
    border-right: var(--tag-required-border-right, var(--tag-required-border, var(--tag-border-right, var(--tag-border))));
    border-top: var(--tag-required-border-top, var(--tag-required-border, var(--tag-border-top, var(--tag-border))));
    border-bottom: var(--tag-required-border-bottom, var(--tag-required-border, var(--tag-border-bottom, var(--tag-border))));
}

.input-box :where(label:has(
    :is(
        input,
        select,
        textarea
    ):required:is(:not([placeholder]), :placeholder-shown)
) > span)::after {

    color: var(--tag-required-suffix-color);
    content: var(--tag-required-suffix);

}