
/* ==============
icons
=============== */


.sb-form :is(.input, .input > li) > i {
    justify-content: center;
    background: var(--sb-icon-background, transparent);
    color: var(--sb-icon-color, var(--sb-theme-color));
    min-width: 2.7rem;
    font-size: 22px;
    aspect-ratio: 1;
}

