:root {


    /* 
    shared (global) settings being re-used in multiple places. 
    can be overridden using the specific css-style-specific variables listed below
    */

    --global-primary-color: blue;
    --global-secondary-color: #009dff;

    --global-label-color: #6f6f6f;
    --global-error-color: #b22222;

    --global-border-radius: 5px;

    --global-button-color: var(--global-primary-color);
    --global-button-hover-color: rgba(0, 0, 0, 0.212);

    --global-focus-outline: solid 2px rgba(0, 0, 0, 0.7);
    --global-focus-outline: solid 2px rgba(var(--global-primary-color), 50%);
    --global-focus-outline-offset: 2px;

    --global-transition-duration: .3s;


    /* 
    for each customizable item there will always be at least (but not limited to) the following css-style-specific variables available:
    
    - background
    - padding
    - border radius
    - text color (AKA just color)
    - font-size

    - border
    - border-left
    - border-top
    - border-right
    - border-bottom

    these will represent the pain css values that will always override the shared global settings 
    */


    /* container */
    --container-background: white;
    --container-padding: 5px;
    --container-border-radius: initial;
    --container-margin: 0 0 2em;

    --container-border: initial;
    --container-border-bottom: solid 2px var(--global-primary-color);
    --container-border-top: initial;
    --container-border-right: initial;
    --container-border-left: initial;

    --container-gap: 5px;
    --container-box-shadow: 0px 0px 5px 1px #d3d3d3;



    /* icon */
    --icon-background: initial;
    --icon-color: var(--global-primary-color);
    --icon-padding: 0;
    --icon-border-radius: initial;
    --icon-font-size: 22px;
    
    --icon-border: initial;
    --icon-border-bottom: initial;
    --icon-border-top: initial;
    --icon-border-right: initial;
    --icon-border-left: initial;

    /* note message */
    --note-color: var(--global-label-color);
    --note-background: none;
    --note-padding: 5px;
    --note-border-radius: initial;
    --note-icon-color: var(--global-label-color);
    --note-font-size: initial;

    --note-border: initial;
    --note-border-bottom: initial;
    --note-border-top: initial;
    --note-border-right: initial;
    --note-border-left: initial;


    /* alert message */
    --alert-color: var(--global-error-color);
    --alert-background: none;
    --alert-padding: 5px;
    --alert-border-radius: inherit;
    --alert-icon-color: var(--global-error-color);
    --alert-font-size: initial;

    --alert-border: initial;
    --alert-border-bottom: initial;
    --alert-border-top: initial;
    --alert-border-right: initial;
    --alert-border-left: initial;






    /* button */
    --button-background: var(--global-button-color);
    --button-color: white;
    --button-padding: .5em 1.2em;
    --button-border-radius: initial;
    --button-transition-duration: var(--global-transition-duration);
    --button-font-size: initial;

    --button-border: transparent 2px solid;
    --button-border-bottom: initial;
    --button-border-top: initial;
    --button-border-right: initial;
    --button-border-left: initial;



    /* button:hover */
    --button-hover-background: var(--global-button-hover-color);
    --button-hover-color: white;
    
    --button-hover-border: initial;
    --button-hover-border-bottom: initial;
    --button-hover-border-top: initial;
    --button-hover-border-right: initial;
    --button-hover-border-left: initial;


    /* tag */
    --tag-background: initial;
    --tag-color: var(--global-label-color);
    --tag-padding: initial;
    --tag-border-radius: initial;
    --tag-transition-duration: var(--global-transition-duration);
    --tag-font-size: 12px;

    --tag-offset-top: initial;
    --tag-offset-left: initial;
    
    --tag-border: initial;
    --tag-border-bottom: initial;
    --tag-border-top: initial;
    --tag-border-right: initial;
    --tag-border-left: initial;


    /* input */
    --input-background: none;
    --input-color: initial;
    --input-padding: 15px 5px 0 5px;
    --input-border-radius: initial;
    --input-font-size: initial;
    
    --input-border: initial;
    --input-border-bottom: initial;
    --input-border-top: initial;
    --input-border-right: initial;
    --input-border-left: initial;

}