/* 
a container can be either:

- a element (usually a div) with the class .Vstyle-input
- a label as a minimal container
*/

.Vstyle-input {
    --internal-margin: var(--container-margin);
    --internal-padding: var(--container-padding);
    --internal-box-shadow: var(--container-box-shadow);

    --internal-background: var(--container-background);
    --internal-border-radius: var(--container-border-radius);
    
    --internal-border-top: var(--container-border-top);
    --internal-border-left: var(--container-border-left);
    --internal-border-bottom: var(--container-border-bottom);
    --internal-border-right: var(--container-border-right);

    --internal-width: 100%;
    --internal-display: flex;


    gap: var(--container-gap);
}

:is(label.Vstyle-input, .Vstyle-input > label) {
    display: grid;
    --internal-display: grid;

    grid-template-columns: var(--internal-template-columns, 1fr);
    grid-template-rows: auto 1fr;

    --internal-input-column: 1;

    gap: var(--container-gap);
}

:is(label.Vstyle-input, .Vstyle-input > label) * {
    --internal-display: flex;
}





/* 
handle the positions of the icons inside the label both if the label is inside a container or is the container itself
*/

/* icon on the right */
:is(label.Vstyle-input, .Vstyle-input > label):has(> i)
{
    --internal-template-columns: 1fr auto;
}

/* icon on the left */
:is(label.Vstyle-input, .Vstyle-input > label):has(> i ~ :is(input, textarea, select))
{
    --internal-template-columns: auto 1fr;
    --internal-input-column: 2;
}