/* 
styling for the tag. the tag is the span with text nested inside the label
*/
.Vstyle-input :is(label > span:not([role]))
{
    display: block;
    width: var(--tag-width);
    


    grid-column: var(--internal-input-column);
    grid-row: 1;

    height: fit-content;


    /* needed to allow the tag (span) to be position absolute in case of a floating label  */
    position: relative;
        top: var(--tag-offset-top, 0px);
        left: var(--tag-offset-left, 0px);


    --internal-padding: var(--tag-padding);
    --internal-background: var(--tag-background);
    --internal-color: var(--tag-color);
    --internal-border-radius: var(--tag-border-radius);
    --internal-font-size: var(--tag-font-size);
    --internal-box-shadow: var(--tag-box-shadow);

    --internal-border-left: var(--tag-border-left);
    --internal-border-right: var(--tag-border-right);
    --internal-border-top: var(--tag-border-top);
    --internal-border-bottom: var(--tag-border-bottom);

    
    line-height: 1rem !important;
    font-weight: lighter;
    font-style: italic;

    /* prevent user from selecting the text for a better UX */
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}



/* 
styling for the tag suffix. the suffix is a pseudo ::after element where the content is being set in the respective state css file
*/
.Vstyle-input label > span:not([role="alert"], [role="note"])::after {
    margin-left: 3px;
}