/* 
styling for the tag. the tag is the span with text nested inside the label
*/
.Vstyle-input :is(label > span:not([role]))
{
    display: block;
    box-sizing: border-box;

    width: var(--tag-width);
    
    /* needed to allow the tag (span) to be position absolute in case of a floating label  */
    position: relative;
        top: var(--tag-offset-top, 0px);
        left: var(--tag-offset-left, 0px);

    /* 
    here this new internal variable is used instead of the --tag-transition-duration directly 
    
    because internal variables get a minified name resulting in a smaller total output size at build time
    */
    --internal-tag-transition: var(--tag-transition-duration) ease-out;
    transition: 
        font-size var(--internal-tag-transition),
        border var(--internal-tag-transition),
        color var(--internal-tag-transition),
        padding var(--internal-tag-transition),
        top var(--internal-tag-transition),
        left var(--internal-tag-transition),
        background var(--internal-tag-transition),
        translate var(--internal-tag-transition);


    padding: var(--tag-padding);
    background: var(--tag-background);
    color: var(--tag-color);
    border-radius: var(--tag-border-radius, inherit);

    border-left: var(--tag-border-left, var(--tag-border));
    border-right: var(--tag-border-right, var(--tag-border));
    border-top: var(--tag-border-top, var(--tag-border));
    border-bottom: var(--tag-border-bottom, var(--tag-border));

    font-size: var(--tag-font-size);
    
    line-height: 1rem !important;
    font-weight: lighter;
    font-style: italic;

    /* prevent user from selecting the text for a better UX */
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}

/* .Vstyle-input:has(:is(input, textarea, select):focus) :is(label > span:not([role])) {
    font-weight: bold;
} */



/* 
styling for the tag suffix. the suffix is a pseudo ::after element where the content is being set in the respective state css file
*/
.Vstyle-input label > span:not([role="alert"], [role="note"])::after {
    margin-left: 3px;
}


/* 
minimal container styles
*/
label.Vstyle-input > span:not([role="alert"], [role="note"]) {
    grid-column: var(--internal-input-column);
    grid-row: 1;

    height: fit-content;
}