/* 
styling for the tag for a floating label
*/
:is(.Vstyle-input > label, label.Vstyle-input):has(
    :is(
        input,
        textarea
    )[placeholder=" "]:placeholder-shown:not(:focus)
) > span:not([role="alert"], [role="note"])
{
    top: calc(50% + var(--tag-floating-offset-top));
    left: var(--tag-floating-offset-left);

    translate: 0 -50%;


    background: var(--tag-floating-background); 
    color: var(--tag-floating-color);


    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;


    font-size: var(--tag-floating-font-size);
}

:is(.Vstyle-input > label, label.Vstyle-input):has(
    :is(
        input,
        textarea
    )[placeholder=" "]
) > span:not([role="alert"], [role="note"])
{
    grid-row: 1 / 3;
}



