/* 
styling for the tag for a floating label
*/
.Vstyle-input > label:has(
    :is(
        input,
        textarea
    )[placeholder=" "]:placeholder-shown:not(:focus)
) > span:not([role="alert"], [role="note"]),

label.Vstyle-input:has(
    :is(
        input,
        textarea
    )[placeholder=" "]:placeholder-shown:not(:focus)
) > span:not([role="alert"], [role="note"])

{
    top: calc(50% + var(--tag-floating-offset-top));
    left: var(--tag-floating-offset-left);

    translate: 0 -50%;


    background: var(--tag-floating-background); 
    color: var(--tag-floating-color);


    border-left: var(--tag-floating-border-left);
    border-right: var(--tag-floating-border-right);
    border-top: var(--tag-floating-border-top);
    border-bottom: var(--tag-floating-border-bottom);


    font-size: var(--tag-floating-font-size);
}



