/* 
styling for the tag for a floating label
*/
:is(.vici-input > label, label.vici-input):has(
    :is(
        input,
        textarea
    )[placeholder=" "]:placeholder-shown:not(:focus)
) > span:not([role="alert"], [role="note"])
{
    top: calc(50% + var(--tag-floating-offset-top));
    left: var(--tag-floating-offset-left);

    translate: 0 -50%;

    --internal-background: var(--tag-floating-background); 
    --internal-color: var(--tag-floating-color);

    --internal-border-left: none;
    --internal-border-right: none;
    --internal-border-top: none;
    --internal-border-bottom: none;


    --internal-font-size: var(--tag-floating-font-size);
}

:is(.vici-input > label, label.vici-input):has(
    :is(
        input,
        textarea
    )[placeholder=" "]
) > span:not([role="alert"], [role="note"])
{
    grid-row: 1 / 3;
}



