.Vstyle-input label:has(
    :is(
        input,
        select,
        textarea
    ):user-invalid
) > span {
    background: var(--tag-invalid-background);
    color: var(--tag-invalid-color);

    border-left: var(--tag-invalid-border-left);
    border-right: var(--tag-invalid-border-right);
    border-top: var(--tag-invalid-border-top);
    border-bottom: var(--tag-invalid-border-bottom);
}

/* 
tag suffix
*/
.Vstyle-input label:has(
    :is(
        input,
        select,
        textarea
    ):user-invalid
) > span::after {
    color: var(--tag-invalid-suffix-color);
    content: var(--tag-invalid-suffix);
}