.Vstyle-input label:has(
    :is(
        input,
        select,
        textarea
    ):user-invalid
) > span {
    --internal-background: var(--tag-invalid-background);
    --internal-color: var(--tag-invalid-color);

    --internal-border-left: var(--tag-invalid-border-left);
    --internal-border-right: var(--tag-invalid-border-right);
    --internal-border-top: var(--tag-invalid-border-top);
    --internal-border-bottom: var(--tag-invalid-border-bottom);
}

/* 
tag suffix
*/
.Vstyle-input label:has(
    :is(
        input,
        select,
        textarea
    ):user-invalid
) > span::after {
    color: var(--tag-invalid-suffix-color);
    content: var(--tag-invalid-suffix);
}