/* 
tag for when the input is read-only
*/
.Vstyle-input :where(label:has(
    :is(
        input,
        select,
        textarea
    ):read-only
) > span) {


    --internal-background: var(--tag-locked-background);
    --internal-color: var(--tag-locked-color);

    --internal-border-left: var(--tag-locked-border-left);
    --internal-border-right: var(--tag-locked-border-right);
    --internal-border-top: var(--tag-locked-border-top);
    --internal-border-bottom: var(--tag-locked-border-bottom);


}
