/* 
tag for when the input is read-only
*/
.Vstyle-input :where(label:has(
    :is(
        input,
        select,
        textarea
    ):read-only
) > span) {

    background: var(--tag-locked-background);
    color: var(--tag-locked-color);

    background: var(--tag-locked-background);
    color: var(--tag-locked-color);

    border-left: var(--tag-locked-border-left);
    border-right: var(--tag-locked-border-right);
    border-top: var(--tag-locked-border-top);
    border-bottom: var(--tag-locked-border-bottom);


}
