/* 
tag style for when the input is marked as required via the [required] attribute. 
*/





:is(.Vstyle-input > label, label.Vstyle-input):has(
    :is(input, select, textarea):required:not(:user-valid)
) > span:not([role]) 
{
    --internal-background: var(--tag-required-background);
    --internal-color: var(--tag-required-color);

    --internal-border-left: var(--tag-required-border-left);
    --internal-border-right: var(--tag-required-border-right);
    --internal-border-top: var(--tag-required-border-top);
    --internal-border-bottom: var(--tag-required-border-bottom);
}

:is(.Vstyle-input > label, label.Vstyle-input):has(
    :is(input, select, textarea):not(:user-valid):required
) > span:not([role])::after 
{
    color: var(--tag-required-suffix-color);
    content: var(--tag-required-suffix);
}