/* 
tag style for when the input is marked as required via the [required] attribute. 
*/





:is(.input-box > label, label.input-box):has(
    :is(input, select, textarea):required:not(:user-valid)
) > span:not([role]) 
{
    background: var(--tag-required-background, var(--tag-background));
    color: var(--tag-required-color, var(--tag-color, var(--global-label-color)));

    border-left: var(--tag-required-border-left, var(--tag-required-border));
    border-right: var(--tag-required-border-right, var(--tag-required-border));
    border-top: var(--tag-required-border-top, var(--tag-required-border));
    border-bottom: var(--tag-required-border-bottom, var(--tag-required-border));
}

:is(.input-box > label, label.input-box):has(
    :is(input, select, textarea):not(:user-valid):required
) > span:not([role])::after 
{
    color: var(--tag-required-suffix-color);
    content: var(--tag-required-suffix);
}