/* 
tag for when the input is valid
*/
:is(.Vstyle-input > label, label.Vstyle-input):has(
    :is(
        input,
        select,
        textarea
    ):user-valid
) > span:not([role])
{
    --internal-background: var(--tag-valid-background);
    --internal-color: var(--tag-valid-color);

    --internal-border-left: var(--tag-valid-border-left);
    --internal-border-right: var(--tag-valid-border-right);
    --internal-border-top: var(--tag-valid-border-top);
    --internal-border-bottom: var(--tag-valid-border-bottom);
}

/* 
tag suffix for when the input is valid
*/
:is(.Vstyle-input > label, label.Vstyle-input):has(
    :is(
        input,
        select,
        textarea
    ):user-valid
) > span:not([role])::after {
    color: var(--tag-valid-suffix-color);
    content: var(--tag-valid-suffix);
}