:is(.Vstyle-input > label, label.Vstyle-input) > input:is([type="checkbox"], [type="radio"]) {
    grid-row-start: 1; 
    grid-row: 1 / 3;

    min-height: 1.5em;
    width: 1em;
}


:is(.Vstyle-input > label, label.Vstyle-input) > input:is([type="checkbox"], [type="radio"])[role="switch"] {
    grid-row-start: 1; 
    grid-row: 1 / 3;

    min-height: 1em;
    min-width: 2em;

    /* 
    reset some styles for the switch 
    */
    --internal-padding: 0;
    --internal-border-radius: 30px;
    appearance: none;
    
    --internal-margin: var(--input-margin, var(--input-padding));
    

    /* prevent the input from being stretched  */
    align-self: center;


    /* 
    a internal variable is used here instead of directly inlining the value  
    because internal variables are renamed and minified. resulting in a smaller output size
    */
    --internal-switch-border: solid 1px var(--global-theme-color);

    --internal-border-left: var(--internal-switch-border);
    --internal-border-right: var(--internal-switch-border);
    --internal-border-bottom: var(--internal-switch-border);
    --internal-border-top: var(--internal-switch-border);


    --internal-background: 
        transparent /* background-color */
        radial-gradient(circle, var(--global-theme-color)  25%, transparent 30%) /* background-image */
        -7px center; /* background-position */
}


:is(.Vstyle-input > label, label.Vstyle-input) > input:is([type="checkbox"], [type="radio"])[role="switch"]:checked 
{
    --internal-background: 
        var(--global-theme-color) /* background-color */
        radial-gradient(circle, white 25%, transparent 30%) /* background-image */
        7px center; /* background-position */
}

:is(.Vstyle-input > label, label.Vstyle-input) > input:is([type="checkbox"], [type="radio"])[role="switch"]:disabled
{
    opacity: .5;
}


/* TODO: remake the entire switch code to use pseudo elements, also allowing for customization using variables */
