

:is(.Vstyle-input > label, label.Vstyle-input) > input:is([type="checkbox"], [type="radio"]) {
    grid-row-start: 1; 
    grid-row: 1 / 3;

    min-height: 1.5em;
    width: 1em;

    margin: var(--input-padding);
}


:is(.Vstyle-input > label, label.Vstyle-input) > input:is([type="checkbox"], [type="radio"])[role="switch"] {
    grid-row-start: 1; 
    grid-row: 1 / 3;

    min-height: 1em;
    min-width: 2em;


    /* 
    reset styles for the switch 
    */
    padding: 0;
    border-radius: 30px;
    appearance: none;
    
    

    margin: var(--input-padding);
    
    align-self: center;


    border: solid 1px var(--global-primary-color);

    background-image: radial-gradient(circle, var(--global-primary-color)  25%, transparent 30%);
    background-color: transparent;
    background-position: -7px center;

    transition: 
        background-color .3s ease-out, 
        background-position .15s linear, 
        border .3s ease-out;
}


:is(.Vstyle-input > label, label.Vstyle-input) > input:is([type="checkbox"], [type="radio"])[role="switch"]:checked 
{
    background-image: radial-gradient(circle, white 25%, transparent 30%);
    background-position: 7px center;

    background-color: var(--global-primary-color);
}

/* TODO: remake the entire switch code to use pseudo elements, also allowing for customization using variables */
/* input[type="checkbox"][role="switch"]::after {
    content: '';
    width: 10px;
    height: 10px;
    background: red;
} */