

.Vstyle-input input[type="color"] {
    width: 100%;
    min-height: 2em;
}

.Vstyle-input ::-moz-color-swatch  {
    border-radius: var(--input-border-radius);
    border: none;
}

.Vstyle-input ::-webkit-color-swatch {
    border-radius: var(--input-border-radius);
    border: none;
}