
/* 
a container can be either:

- a normal div with the class .input-box
- a list item from a list with the class .input-box
- a label as a minimal container


a normal div with the class .input box will only be styled as a container if it
contains atleast 1 label. 

*/

.input-box:where(:has(label)) 
{
    /* the container is already a flexbox due the reset.css */
    /* flex wrap for allowing messages to be on a new line by setting a full width */
    flex-wrap: wrap;        


    padding: var(--container-padding);
    box-shadow: var(--container-box-shadow);



    background: var(--container-background);
    border-radius: var(--container-border-radius, var(--global-border-radius));
    
    /* border styles */
    border-top: var(--container-border-top, var(--container-border));
    border-left: var(--container-border-left, var(--container-border));
    border-bottom: var(--container-border-bottom, var(--container-border));
    border-right: var(--container-border-right, var(--container-border));




}


.input-box {
    /* the gap between container items such as icons, labels with inputs, buttons and messages */
    gap: var(--container-gap);

    
    margin: var(--container-margin);


}