/* 
[== base styles: container_item.css ==]

base styles for the messages such as notes & alerts at the bottom of the containers
*/
:where(
    .input-box :is(
        [role="alert"], 
        [role="note"]
    )
) {
    /* Set width to 100% to put it on a new line using the flex-wrap on the parent */
    width: 100%;

    /* Set the order to 3 to set it at the end of the container to ensure the message 
    is displayed at the end even though it might have a different position in the html */
    order: 3;

    /* variables will be set by the specific implementation in the message_note.css & message_alert.css files  */
    color: var(--message-color);
    background: var(--message-background);
    padding: var(--message-padding);
    border-radius: var(--message-border-radius);
    font-size: var(--message-font-size);

    border-left: var(--message-border-left);
    border-right: var(--message-border-right);
    border-top: var(--message-border-top);
    border-bottom: var(--message-border-bottom);
}

/* 
the ::before element of the messages where the icon is rendered 
*/
:where(
    .input-box :is(
        [role="alert"],
        [role="note"]
    )
)::before {

    /* needed for the ::before to appear at all */
    content: '';


    /* puts the icon at the same level of the fist line of the text */
    align-self: flex-start;


    /* width for the spacing between the icon and the text and the height to control 
    at what hight the icon is displayed */
    height: 2ch;
    aspect-ratio: 1;

    margin: 3px 10px 0 0;


    /* due use of an image mask, the background of the ::before will be the eventual color of the icon 
    this means the variable --message-icon-color can possibly be a gradient. */
    background: var(--message-icon-color);


    /* mask-image for the svg icon at the start of the message 
    --message-svg-icon will be set by the specific implementation in the message_note.css & message_alert.css files */
    mask-image: var(--message-icon);
    -webkit-mask-image: var(--message-icon);

    mask-position: center ;
    -webkit-mask-position: center ;
    
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}