/* 
[== base styles: message_core.css ==]

specific style implementation for message type notes
*/
:where(
    .input-box [role="note"]
) {
    /* variable used in base styles */
    --message-color: var(--note-color);
    --message-background: var(--note-background);
    --message-padding: var(--note-padding);
    --message-border-radius: var(--note-border-radius);

    --message-border-left: var(--note-border-left, var(--note-border));
    --message-border-top: var(--note-border-top, var(--note-border));
    --message-border-bottom: var(--note-border-bottom, var(--note-border));
    --message-border-right: var(--note-border-right, var(--note-border));
}

:where(
    .input-box [role="note"]
)::before {
    /* variable used in base styles */
    --message-icon-color: var(--note-icon-color);
    --message-icon: var(--note-icon-url);
}
