/* 
[== base styles: message_core.css ==]

specific style implementation for message type notes
*/
:where(
    .input-box [role="note"]
) {
    /* variable used in base styles */
    --message-color: var(--note-color);
    --message-background: var(--note-background);
    --message-padding: var(--note-padding);
    --message-border-radius: var(--note-border-radius, inherit);
    --message-font-size: var(--note-font-size);

    --message-border-left: var(--note-border-left, var(--note-border));
    --message-border-top: var(--note-border-top, var(--note-border));
    --message-border-bottom: var(--note-border-bottom, var(--note-border));
    --message-border-right: var(--note-border-right, var(--note-border));
}

:where(
    .input-box [role="note"]
)::before {
    /* variable used in base styles */
    --message-icon-color: var(--note-icon-color);
    --message-icon: url('data:image/svg+xml;,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="m9 6.6-2.4.3v.4H7c.3.1.4.2.3.5l-.7 3.5c-.2.9 0 1.3.8 1.3a2 2 0 0 0 1.4-.6l.1-.4c-.2.2-.5.2-.7.2-.2 0-.3-.2-.3-.5l1-4.7zm0-2.1a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/></svg>');
}
