.input-box > :is(i, label > i)
{
    /* give the icon a fixed width and center it to ensure consistent alignment between icons of different widths*/
    width: 1em;
    justify-content: center;
    align-items: center;

    background: var(--icon-background);
    color: var(--icon-color);
    padding: var(--icon-padding);


    border-radius: var(--icon-border-radius, var(--global-border-radius));



    border-left: var(--icon-border-left, var(--icon-border));
    border-right: var(--icon-border-right, var(--icon-border));
    border-top: var(--icon-border-top, var(--icon-border));
    border-bottom: var(--icon-border-bottom, var(--icon-border));


    /* icons are usually set with text and a specific imported font. so font-size == icon size */
    font-size: var(--icon-font-size);
}


/* 
minimal container styles for the icon
*/

label.input-box > i {
    grid-row: span 2;
}