.vici-input > :is(i, label > i)
{
    /* give the icon a fixed width and center it to ensure consistent alignment between icons of different widths*/
    justify-content: center;
    align-items: center;

    --internal-background: var(--icon-background);
    --internal-color: var(--icon-color);
    --internal-padding: var(--icon-padding);
    --internal-border-radius: var(--icon-border-radius);
    --internal-box-shadow: var(--icon-box-shadow);
    --internal-font-size: var(--icon-font-size);
    --internal-margin: var(--icon-margin);

    --internal-border-left: var(--icon-border-left);
    --internal-border-right: var(--icon-border-right);
    --internal-border-top: var(--icon-border-top);
    --internal-border-bottom: var(--icon-border-bottom);

    --internal-width: 1.5em;
}


/* 
minimal container styles for the icon

the tag is on row 1
the input is on row 2

make the icon span both rows
*/

label.vici-input > i {
    grid-row: span 2;
}