
/* 
The styles for labels (minimal container or not) for checkboxes
*/
:is(label.vici-input, .vici-input > label):has(input:is([type="checkbox"], [type="radio"])) 
{
    --internal-template-columns: auto 1fr;
    --internal-input-column: 1;
}


:is(label.vici-input, .vici-input > label):has(input:is([type="checkbox"]), [type="radio"]):has(> i)
{
    --internal-template-columns: auto 1fr auto;
    --internal-input-column: 1;
}

:is(label.vici-input, .vici-input > label):has(input:is([type="checkbox"]), [type="radio"]):has(> i ~ :is(input, textarea, select)) 
{
    --internal-template-columns: auto auto 1fr;
    --internal-input-column: 2;
}



.vici-input:has([type="radio"]) > label {
    width: 100%;
}

