.vici-button,
.vici-input :is(
    button, 
    input:is(
        [type="submit"],
        [type="button"],
        [type="reset"]
    )
) {
    /* center the text in the middle of the button. the button is already a flexbox due the global reset */
    justify-content: center;
    align-items: center;



    /* standard properties */
    --internal-color: var(--button-color);
    --internal-padding: var(--button-padding);
    --internal-border-radius: var(--button-border-radius);
    --internal-font-size: var(--button-font-size);
    --internal-background: var(--button-background);
    --internal-box-shadow: var(--button-box-shadow);
    --internal-margin: var(--button-margin);

    --internal-width: auto;

    --internal-border-left: var(--button-border-left);
    --internal-border-right: var(--button-border-right);
    --internal-border-top: var(--button-border-top);
    --internal-border-bottom: var(--button-border-bottom);

    cursor: pointer;

    /* meaning it will try to fill up all the available space in the container but only when the button is alone in the container
    otherwise the space will be taken up by the label + input (since they have a MUCH higher grow size).
    if multiple buttons are alone (meaning without a label) in the container they will share the space */
    flex-grow: 1;
}