.Vstyle-button,
.Vstyle-input :is(
    button, 
    input:is(
        [type="submit"],
        [type="button"],
        [type="reset"]
    )
) {
    /* center the text in the middle of the button. the button is already a flexbox due the global reset */
    justify-content: center;
    align-items: center;


    /* 
    In advanced containers (the only container types buttons are allowed in) all the contents are stretched.
    To avoid buttons getting MASSIVE in case of textarea's there is this hard-coded height limit
    */
    max-height: 3.7em;




    transition: 
        color var(--button-transition-duration), 
        border var(--button-transition-duration), 
        background var(--button-transition-duration) ease-out;

    /* standard properties */
    color: var(--button-color);
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    font-size: var(--button-font-size);
    background: var(--button-background);

    border-left: var(--button-border-left);
    border-right: var(--button-border-right);
    border-top: var(--button-border-top);
    border-bottom: var(--button-border-bottom);

    cursor: pointer;

    /* meaning it will try to fill up all the available space in the container but only when the button is alone in the container
    otherwise the space will be taken up by the label + input (since they have a MUCH higher grow size).
    if multiple buttons are alone (meaning without a label) in the container they will share the space */
    flex-grow: 1;
}