/* 
hover animation
*/
:is(
    .Vstyle-button,
    .Vstyle-input :is(
        button, 
        input:is(
            [type="submit"],
            [type="button"],
            [type="reset"]
        )
    )
):not(:disabled):hover {
    --internal-color: var(--button-hover-color);
    --internal-background: var(--button-hover-background);

    --internal-border-left: var(--button-hover-border-left);
    --internal-border-right: var(--button-hover-border-right);
    --internal-border-top: var(--button-hover-border-top);
    --internal-border-bottom: var(--button-hover-border-bottom);
}
