/* 
disabled buttons
*/
:is(
    .Vstyle-button,
    .Vstyle-input :is(
        button, 
        input[type="submit"],
        input[type="button"],
        input[type="reset"]
    )
):disabled {
    color: var(--button-locked-color);
    background: var(--button-locked-background);

    border-left: var(--button-locked-border-left);
    border-right: var(--button-locked-border-right);
    border-top: var(--button-locked-border-top);
    border-bottom: var(--button-locked-border-bottom);

    cursor: not-allowed;
}