/* 
Explanation of internal variables and how styling is done

The selector below selects for (almost) all elements within a input container (minimal and advanced) such as icons, buttons, inputs, ect.. 
All the styling for those elements are defined here using internal variables

Styling for each element is done by setting these internal variables like this:

.Vstyle-input > i 
{
    --internal-color: red; 
    ect..
}

The reason for this is that at compile time internal variables get renamed to a single letter.
Resulting in a much smaller output size comparing to writing "border-right: var(--some-variable) !important;" at every element.
*/

:is(
    #Vstyle-input#Vstyle-input#Vstyle-input#Vstyle-input#Vstyle-input, /* selectors only here to increase specificity to ensure all styles are overwritten */
    .Vstyle-input,
    .Vstyle-input > *:not(label),
    .Vstyle-input > label > *,
    .Vstyle-button
) {
    box-sizing: border-box !important;
    
    /* display flex for putting all the items for that element side-by-side.  */
    display: var(--internal-display) !important;

    line-height: 20px !important;


    border-left: var(--internal-border-left) !important;
    border-right: var(--internal-border-right) !important;
    border-top: var(--internal-border-top) !important;
    border-bottom: var(--internal-border-bottom) !important;

    background: var(--internal-background) !important;
    color: var(--internal-color) !important;
    font-size: var(--internal-font-size) !important;
    box-shadow: var(--internal-box-shadow) !important;
    border-radius: var(--internal-border-radius) !important;
    padding: var(--internal-padding) !important;    
    margin: var(--internal-margin) !important;

    width: var(--internal-width) !important;
    height: var(--internal-height) !important;
    
    /* 
    here this new internal variable is used instead of the "var(--internal-transition-duration) ease-out" directly 
    
    because internal variables get a minified name resulting in a smaller total output size at build time
    */
    --internal-transition-value: var(--internal-transition-duration, var(--global-transition-duration)) ease-out;
    transition: 
        border var(--internal-transition-value), 
        background var(--internal-transition-value),
        color var(--internal-transition-value), 
        font-size var(--internal-transition-value), 
        box-shadow var(--internal-transition-value),
        border-radius var(--internal-transition-value),
        padding var(--internal-transition-value),
        top var(--internal-transition-value),
        left var(--internal-transition-value),
        translate var(--internal-transition-value),
        margin var(--internal-transition-value) !important;
}



.Vstyle-input *:focus 
{
    outline: var(--global-focus-outline);
    outline-offset: var(--global-focus-outline-offset);
}




:root {
    /* 
        shared (global) settings being re-used in multiple places. 
        can be overridden using the specific css-style-specific variables listed below
    */
    --global-theme-color: blue;

    --global-label-color: #6f6f6f;
    --global-error-color: #b22222;

    --global-border-radius: 5px;

    --global-focus-outline: solid 2px rgba(var(--global-theme-color), 50%);
    --global-focus-outline-offset: 2px;

    --global-transition-duration: .2s;






    /* container */
    --container-background: white;
    --container-padding: 7px 10px;
    --container-border-radius: var(--global-border-radius);
    --container-box-shadow: initial;
    --container-margin: 0 0 30px 0;

    --container-border: solid 1px lightgrey;
    --container-border-bottom: var(--container-border);
    --container-border-top: var(--container-border);
    --container-border-right: var(--container-border);
    --container-border-left: var(--container-border);

    --container-gap: 0;
    --container-gap: 0 10px;
    



    /* icon */
    --icon-background: initial;
    --icon-color: var(--global-theme-color);
    --icon-padding: initial;
    --icon-border-radius: var(--global-border-radius);
    --icon-font-size: 22px;
    
    --icon-border: initial;
    --icon-border-bottom: var(--icon-border);
    --icon-border-top: var(--icon-border);
    --icon-border-right: var(--icon-border);
    --icon-border-left: var(--icon-border);

    /* note message */
    --note-color: var(--global-label-color);
    --note-background: initial;
    --note-padding: 0;
    --note-border-radius: initial;
    --note-icon-color: var(--note-color, var(--global-label-color));
    --note-font-size: .9rem;
    --note-margin: 10px 0 0 0;

    --note-border: initial;
    --note-border-bottom: var(--note-border);
    --note-border-top: var(--note-border);
    --note-border-right: var(--note-border);
    --note-border-left: var(--note-border);


    /* alert message */
    --alert-color: var(--global-error-color);
    --alert-background: none;
    --alert-padding: 0;
    --alert-border-radius: inherit;
    --alert-icon-color: var(--alert-color, var(--global-error-color));
    --alert-font-size: .9rem;
    --alert-margin: 10px 0 0 0;

    --alert-border: initial;
    --alert-border-bottom: var(--alert-border);
    --alert-border-top: var(--alert-border);
    --alert-border-right: var(--alert-border);
    --alert-border-left: var(--alert-border);






    /* button */
    --button-background: var(--global-theme-color);
    --button-color: white;
    --button-padding: .7em 1.1em;
    --button-border-radius: var(--global-border-radius);
    --button-transition-duration: var(--global-transition-duration);
    --button-font-size: initial;

    --button-border: initial;
    --button-border-bottom: var(--button-border);
    --button-border-top: var(--button-border);
    --button-border-right: var(--button-border);
    --button-border-left: var(--button-border);

    /* button:hover */
    --button-hover-background: color-mix(in srgb, var(--button-background), #000000ab);
    --button-hover-color: var(--button-color);
    
    --button-hover-border: initial;
    --button-hover-border-bottom: var(--button-hover-border);
    --button-hover-border-top: var(--button-hover-border);
    --button-hover-border-right: var(--button-hover-border);
    --button-hover-border-left: var(--button-hover-border);


    /* button:locked */
    --button-locked-background: color-mix(in srgb, var(--button-background), var(--container-background));
    --button-locked-color: var(--button-color);
    
    --button-locked-border: initial;
    --button-locked-border-bottom: var(--button-locked-border);
    --button-locked-border-top: var(--button-locked-border);
    --button-locked-border-right: var(--button-locked-border);
    --button-locked-border-left: var(--button-locked-border);



    /* tag */
    --tag-background: var(--container-background);
    --tag-color: var(--global-label-color);
    --tag-padding: 0;
    --tag-border-radius: initial;
    --tag-transition-duration: var(--global-transition-duration);
    --tag-font-size: .85rem;
    --tag-width: fit-content;

    --tag-offset-top: initial;
    --tag-offset-left: initial;
    
    --tag-border: initial;
    --tag-border-bottom: var(--tag-border);
    --tag-border-top: var(--tag-border);
    --tag-border-right: var(--tag-border);
    --tag-border-left: var(--tag-border);

    /* tag floating */

    --tag-floating-font-size: initial;

    --tag-floating-offset-top: 0px;
    --tag-floating-offset-left: initial;

    --tag-floating-color: var(--input-color);
    --tag-floating-background: transparent;


    /* tag locked */

    --tag-locked-background: var(--tag-background);
    --tag-locked-color: var(--tag-color);

    --tag-locked-border: initial;
    --tag-locked-border-bottom: var(--tag-locked-border, var(--tag-border-bottom));
    --tag-locked-border-top: var(--tag-locked-border, var(--tag-border-top));
    --tag-locked-border-right: var(--tag-locked-border, var(--tag-border-right));
    --tag-locked-border-left:  var(--tag-locked-border, var(--tag-border-left));




    /* input */
    --input-background: none;
    --input-color: black;
    --input-padding: 4px 0;
    --input-border-radius: var(--global-border-radius);
    --input-font-size: initial;
    
    --input-border: initial;
    --input-border-bottom: var(--input-border);
    --input-border-top: var(--input-border);
    --input-border-right: var(--input-border);
    --input-border-left: var(--input-border);

    /* input floating */
    --input-floating-padding: 19px 5px 5px 5px;

    /* input locked */
    --input-locked-background: var(--input-background);
    --input-locked-color: color-mix(in srgb, var(--input-color), rgba(126, 126, 126, 0.507));

    --input-locked-border: initial;
    --input-locked-border-bottom: var(--input-locked-border, var(--input-border-bottom));
    --input-locked-border-top: var(--input-locked-border, var(--input-border-top));
    --input-locked-border-right: var(--input-locked-border, var(--input-border-right));
    --input-locked-border-left: var(--input-locked-border, var(--input-border-left));

}