.input-box,
.input-box > * {
    border-radius: var(--global-border-radius);
    box-sizing: content-box;
    
    /* display flex for putting all the items for that element side-by-side.  */
    display: flex;

    line-height: 20px !important;
}

.input-box *:focus 
{
    outline: var(--global-focus-outline);
    outline-offset: var(--global-focus-outline-offset);
}




:root {
    /* 
        shared (global) settings being re-used in multiple places. 
        can be overridden using the specific css-style-specific variables listed below
    */

    --global-primary-color: blue;
    --global-secondary-color: #009dff;

    --global-label-color: #6f6f6f;
    --global-error-color: #b22222;

    --global-border-radius: 0px;

    --global-button-color: var(--global-primary-color);
    --global-button-hover-color: rgba(0, 0, 0, 0.212);

    --global-focus-outline: solid 2px rgba(0, 0, 0, 0.7);
    --global-focus-outline: solid 2px rgba(var(--global-primary-color), 50%);
    --global-focus-outline-offset: 2px;

    --global-transition-duration: .3s;


    /* 
    for each customizable item there will always be at least (but not limited to) the following css-style-specific variables available:
    
    - background
    - padding
    - border radius
    - text color (AKA just color)
    - font-size

    - border
    - border-left
    - border-top
    - border-right
    - border-bottom

    these will represent the pain css values that will always override the shared global settings 
    */


    /* container */
    --container-background: white;
    --container-padding: 8px;
    --container-border-radius: initial;
    --container-box-shadow: 0px 0px 5px 1px #d3d3d3;

    --container-border: initial;
    --container-border-bottom: solid var(--global-primary-color);
    --container-border-top: initial;
    --container-border-right: solid white;
    --container-border-left: solid white;

    --container-gap: 5px 5px;




    /* icon */
    --icon-background: initial;
    --icon-color: var(--global-primary-color);
    --icon-padding: 8px;
    --icon-border-radius: initial;
    --icon-font-size: 22px;
    
    --icon-border: initial;
    --icon-border-bottom: initial;
    --icon-border-top: initial;
    --icon-border-right: initial;
    --icon-border-left: initial;

    /* note message */
    --note-color: var(--global-label-color);
    --note-background: none;
    --note-padding: 5px;
    --note-border-radius: initial;
    --note-icon-color: var(--global-label-color);
    --note-font-size: initial;
    --note-font-size: .9rem;

    --note-border: initial;
    --note-border-bottom: initial;
    --note-border-top: initial;
    --note-border-right: initial;
    --note-border-left: initial;


    /* alert message */
    --alert-color: var(--global-error-color);
    --alert-background: none;
    --alert-padding: 5px;
    --alert-border-radius: inherit;
    --alert-icon-color: var(--global-error-color);
    --alert-font-size: initial;
    --alert-font-size: .9rem;

    --alert-border: initial;
    --alert-border-bottom: initial;
    --alert-border-top: initial;
    --alert-border-right: initial;
    --alert-border-left: initial;






    /* button */
    --button-background: var(--global-button-color);
    --button-color: white;
    --button-padding: .5em 1.2em;
    --button-border-radius: initial;
    --button-transition-duration: var(--global-transition-duration);
    --button-font-size: initial;

    --button-border: transparent 2px solid;
    --button-border-bottom: initial;
    --button-border-top: initial;
    --button-border-right: initial;
    --button-border-left: initial;



    /* button:hover */
    --button-hover-background: var(--global-button-hover-color);
    --button-hover-color: white;
    
    --button-hover-border: initial;
    --button-hover-border-bottom: initial;
    --button-hover-border-top: initial;
    --button-hover-border-right: initial;
    --button-hover-border-left: initial;


    /* tag */
    --tag-background: initial;
    --tag-color: var(--global-label-color);
    --tag-padding: 0 5px;
    --tag-border-radius: initial;
    --tag-transition-duration: var(--global-transition-duration);
    --tag-font-size: .85rem;

    --tag-offset-top: initial;
    --tag-offset-left: initial;
    
    --tag-border: initial;
    --tag-border-bottom: initial;
    --tag-border-top: initial;
    --tag-border-right: initial;
    --tag-border-left: initial;

    /* tag floating */

    --tag-floating-offset-top: initial;
    --tag-floating-offset-left: initial;

    --tag-floating-background: initial;
    --tag-floating-color: initial;
    --tag-floating-font-size: initial;

    --tag-floating-border: initial;
    --tag-floating-border-bottom: initial;
    --tag-floating-border-top: initial;
    --tag-floating-border-right: initial;
    --tag-floating-border-left: initial;


    /* tag required */

    --tag-required-background: initial;
    --tag-required-color: initial;

    --tag-required-suffix-color: var(--global-error-color);
    --tag-required-suffix: '*';

    --tag-required-border: initial;
    --tag-required-border-bottom: initial;
    --tag-required-border-top: initial;
    --tag-required-border-right: initial;
    --tag-required-border-left: initial;

    /* tag readonly */

    --tag-readonly-background: initial;
    --tag-readonly-color: initial;

    --tag-readonly-suffix-color: initial;
    --tag-readonly-suffix: initial;

    --tag-readonly-border: initial;
    --tag-readonly-border-bottom: initial;
    --tag-readonly-border-top: initial;
    --tag-readonly-border-right: initial;
    --tag-readonly-border-left: initial;

    /* tag invalid */
    --tag-invalid-background: initial;
    --tag-invalid-color: var(--global-error-color);

    --tag-invalid-suffix-color: initial;
    --tag-invalid-suffix: '!';

    --tag-invalid-border: initial;
    --tag-invalid-border-bottom: initial;
    --tag-invalid-border-top: initial;
    --tag-invalid-border-right: initial;
    --tag-invalid-border-left: initial;



    /* tag valid */
    --tag-valid-background: initial;
    --tag-valid-color: initial;

    --tag-valid-suffix-color: initial;
    --tag-valid-suffix: initial;

    --tag-valid-border: initial;
    --tag-valid-border-bottom: initial;
    --tag-valid-border-top: initial;
    --tag-valid-border-right: initial;
    --tag-valid-border-left: initial;


    /* input */
    --input-background: none;
    --input-color: initial;
    --input-padding: 17px 5px 5px 5px;
    --input-padding: 4px 5px;
    --input-border-radius: initial;
    --input-font-size: initial;
    
    --input-border: initial;
    --input-border-bottom: initial;
    --input-border-top: initial;
    --input-border-right: initial;
    --input-border-left: initial;

    /* input required */

    --input-required-background: initial;
    --input-required-color: initial;

    --input-required-border: initial;
    --input-required-border-bottom: initial;
    --input-required-border-top: initial;
    --input-required-border-right: initial;
    --input-required-border-left: initial;


    /* input readonly */

    --input-readonly-background: initial;
    --input-readonly-color: #4d4d4d;

    --input-readonly-border: initial;
    --input-readonly-border-bottom: initial;
    --input-readonly-border-top: initial;
    --input-readonly-border-right: initial;
    --input-readonly-border-left: initial;


    /* input invalid */

    --input-invalid-background: initial;
    --input-invalid-color: initial;

    --input-invalid-border: initial;
    --input-invalid-border-bottom: initial;
    --input-invalid-border-top: initial;
    --input-invalid-border-right: initial;
    --input-invalid-border-left: initial;

    
    /* input valid */

    --input-valid-background: initial;
    --input-valid-color: initial;

    --input-valid-border: initial;
    --input-valid-border-bottom: initial;
    --input-valid-border-top: initial;
    --input-valid-border-right: initial;
    --input-valid-border-left: initial;
}