/* 
[== base styles: container_item_core.css ==]
*/
:where(
    .input-box i
) {
    /* give the icon a fixed width to ensure consistent alignment between different icons and center it */
    width: 40px;
    justify-content: center;
    align-items: center;

    background: var(--icon-background);
    color: var(--icon-color);
    padding: var(--icon-padding);


    border-radius: var(--icon-border-radius, inherit);



    border-left: var(--icon-border-left, var(--icon-border));
    border-right: var(--icon-border-right, var(--icon-border));
    border-top: var(--icon-border-top, var(--icon-border));
    border-bottom: var(--icon-border-bottom, var(--icon-border));


    /* icons are usually set with text and a specific imported font. so font-size == icon size */
    font-size: var(--icon-font-size);
}