/* 
    base styles for all methods of input. including textarea, select and input elements
*/

:is(.Vstyle-input > label, label.Vstyle-input) :is(
    input, 
    textarea, 
    select
) {
    --internal-padding: var(--input-padding);
    --internal-background: var(--input-background);
    --internal-color: var(--input-color);
    --internal-border-radius: var(--input-border-radius);
    --internal-font-size: var(--input-font-size);
    --internal-box-shadow: var(--input-box-shadow);
    --internal-margin: var(--input-margin);

    --internal-border-left: var(--input-border-left);
    --internal-border-right: var(--input-border-right);
    --internal-border-top: var(--input-border-top);
    --internal-border-bottom: var(--input-border-bottom);
}


/*
minimal container styles
*/

:is(.Vstyle-input > label, label.Vstyle-input) > :is(input, select, textarea) {
    grid-column: var(--internal-input-column);
    grid-row: 2;
}