
.Vstyle-input :is(
    input, 
    textarea, 
)[placeholder=" "] {
    grid-row: 1;

    /* standard properties */
    padding: var(--input-floating-padding);
    background: var(--input-floating-background);
    color: var(--input-floating-color);
    border-radius: var(--input-floating-border-radius);

    border-left: var(--input-floating-border-left);
    border-right: var(--input-floating-border-right);
    border-top: var(--input-floating-border-top);
    border-bottom: var(--input-floating-border-bottom);
}
