/* 
invalid state for input
*/

.Vstyle-input :is(
    input, 
    textarea, 
    select
):user-invalid
{
    --internal-background: var(--input-invalid-background);
    --internal-color: var(--input-invalid-color);

    --internal-border-left: var(--input-invalid-border-left);
    --internal-border-right: var(--input-invalid-border-right);
    --internal-border-top: var(--input-invalid-border-top);
    --internal-border-bottom: var(--input-invalid-border-bottom);
}
