/* 
locked (readonly) state for input
*/

.Vstyle-input :is(
    input, 
    textarea, 
    select
):read-only 
{
    cursor: not-allowed;

    background: var(--input-readonly-background, var(--input-background));
    color: var(--input-readonly-color, var(--input-color));

    border-left: var(--input-readonly-border-left, var(--input-readonly-border, var(--input-border-left, var(--input-border))));
    border-right: var(--input-readonly-border-right, var(--input-readonly-border, var(--input-border-right, var(--input-border))));
    border-top: var(--input-readonly-border-top, var(--input-readonly-border, var(--input-border-top, var(--input-border))));
    border-bottom: var(--input-readonly-border-bottom, var(--input-readonly-border, var(--input-border-bottom, var(--input-border))));

}