/* 
locked (readonly / disabled) state for input
*/

.vici-input :is(
    input, 
    textarea, 
    select
):is([readonly], [disabled])
{
    cursor: not-allowed;

    --internal-background: var(--input-locked-background);
    --internal-color: var(--input-locked-color);

    --internal-border-left: var(--input-locked-border-left);
    --internal-border-right: var(--input-locked-border-right);
    --internal-border-top: var(--input-locked-border-top);
    --internal-border-bottom: var(--input-locked-border-bottom);
}