/* 
locked (readonly / disabled) state for input
*/

.Vstyle-input :is(
    input, 
    textarea, 
    select
):is([readonly], [disabled])
{
    cursor: not-allowed;

    background: var(--input-locked-background);
    color: var(--input-locked-color);

    border-left: var(--input-locked-border-left);
    border-right: var(--input-locked-border-right);
    border-top: var(--input-locked-border-top);
    border-bottom: var(--input-locked-border-bottom);
}