/* 
required state for input
*/

.Vstyle-input :is(
    input, 
    textarea, 
    select
):required {
    --internal-background: var(--input-required-background);
    --internal-color: var(--input-required-color);

    --internal-border-left: var(--input-required-border-left);
    --internal-border-right: var(--input-required-border-right);
    --internal-border-top: var(--input-required-border-top);
    --internal-border-bottom: var(--input-required-border-bottom);
}
